In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
df=pd.read_csv(r"C:\python code\machine learning\14_naive_bays_classifier\titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [6]:
df.Sex=df.Sex.map({'male':0,'female':1})
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,0,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,1,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,0,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,0,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,1,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,1,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,0,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,0,32.0,0,0,370376,7.7500,NaN,Q,0

In [7]:
inputs=df[['Pclass','Sex','Age','Fare']]
inputs

     Pclass  Sex   Age     Fare
0         3    0  22.0   7.2500
1         1    1  38.0  71.2833
2         3    1  26.0   7.9250
3         1    1  35.0  53.1000
4         3    0  35.0   8.0500
..      ...  ...   ...      ...
886       2    0  27.0  13.0000
887       1    1  19.0  30.0000
888       3    1   NaN  23.4500
889       1    0  26.0  30.0000
890       3    0  32.0   7.7500

[891 rows x 4 columns]

In [9]:
df.target=df.Survived
df.target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [12]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    int64
 2   Age     714 non-null    float64
 3   Fare    891 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 28.0 KB

In [13]:
inputs.isna().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [15]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs

C:\Users\shish\AppData\Local\Temp\ipykernel_14460\3961650335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs.Age=inputs.Age.fillna(inputs.Age.mean())

     Pclass  Sex        Age     Fare
0         3    0  22.000000   7.2500
1         1    1  38.000000  71.2833
2         3    1  26.000000   7.9250
3         1    1  35.000000  53.1000
4         3    0  35.000000   8.0500
..      ...  ...        ...      ...
886       2    0  27.000000  13.0000
887       1    1  19.000000  30.0000
888       3    1  29.699118  23.4500
889       1    0  26.000000  30.0000
890       3    0  32.000000   7.7500

[891 rows x 4 columns]

In [16]:
inputs.isna().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test=train_test_split(inputs,df.target,test_size=0.2)

In [21]:
from sklearn.naive_bayes import GaussianNB

In [22]:
model=GaussianNB()

In [23]:
model.fit(X_train,y_train)

GaussianNB()

In [24]:
model.score(X_test,y_test)

0.7374301675977654

In [25]:
y_test[:10]

766    0
32     1
121    0
278    0
523    1
777    1
868    0
244    0
841    0
510    1
Name: Survived, dtype: int64

In [26]:
model.predict(X_test[:10])

array([0, 1, 0, 0, 1, 1, 0, 0, 0, 0], dtype=int64)